In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_raw = pd.read_csv(r'data/LinkedinScrape_Data_Indonesia_.csv', sep=';')

In [3]:
df = df_raw.copy()

In [5]:
df.Location.unique()

array(['Arizona, United States', 'Albert Lea, MN', 'Moorhead, MN',
       'Brainerd, MN', 'Mankato, MN', 'Stillwater, MN', 'Ramsey, MN',
       'Cooke City, MT', 'Jacksonville, FL', 'Woodcliff Lake, NJ',
       'New York, NY', 'Salem, OR', 'Lanham, MD', 'Pleasant Grove, UT',
       'Ontario, CA', 'Manteca, CA', 'Myrtle Beach, SC', 'Edinburg, TX',
       'Washington, DC', 'Des Moines, IA', 'San Diego, CA',
       'United States', 'Clinton, NY', 'New York County, NY',
       'Denver, CO', 'Nashville, TN', 'Fort Worth, TX',
       'Brooklyn Park, MN', 'Indianapolis, IN', 'Chagrin Falls, OH',
       'Beaverton, OR', 'Home, KS', 'Montgomery, AL', 'Atlanta, GA',
       'Boulder, CO', 'Hollywood, FL', 'Los Angeles, CA',
       'Firestone Park, CA', 'Austin, TX', 'Frostburg, MD',
       'Santa Ana, CA', 'Utica-Rome Area', 'Pico, CA', 'Chelsea, MA',
       'Edison, NJ', 'Cincinnati, OH', 'Providence, RI', 'Morristown, NJ',
       'Dallas, TX', 'Northwoods, MO', 'Calwa, CA', 'Mason, OH',
       'St Louis, MO', 'Harvard, MA', 'Hingham, MA', 'Gainesville, GA',
       'San Antonio, TX', 'United, PA', 'Boston, MA',
       'Texas, United States', 'McLean, VA', 'Houston, TX', 'Chicago, IL',
       'Franklin, TN', 'Brentwood, TN', 'Sturgis, KY', 'Bloomfield, CT',
       'Irving, TX', 'Pensacola, FL', 'Tucson, AZ', 'Everett, WA',
       'Las Vegas, NV', 'Phoenix, AZ', 'Cheektowaga, NY', 'Tampa, FL',
       'Miami, FL', 'San Francisco, CA', 'Plano, TX',
       'Whitehouse Station, NJ', 'Clarksville, MD', 'Modello, FL',
       'Wollaston, MA', 'Allen Park, MI', 'Oakland, CA', 'Toledo, OH',
       'Indiana, United States', 'Elk Grove Village, IL', 'Frederick, MD',
       'Lawrenceville, GA', 'Fort Myer Heights, VA', 'Juneau, AK',
       'Columbia, SC', 'Pasadena, CA', 'Kennesaw, GA', 'Monterey, CA',
       'Durham, NC', 'Westlake, TX', 'New York, United States',
       'Bonnie View, UT', 'Pearl Beach, MI', 'West Menlo Park, CA',
       'Albany, OR', 'Parma, OH', 'Creve Coeur, MO', 'Woburn, MA',
       'Palmdale, CA', 'Mountain View, CA', 'Minneapolisâ€“Saint Paul, WI',
       'Illinois, United States'], dtype=object)